<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
    <link rel="stylesheet" type="text/css" href="../static/TrangChu.css">

</head>
<body>
<div class="new_wrap">
    <p class="new_header">Newspaper details</p>
    <p class="new_title">{{data.title}}</p>
    <p class="new_cate">{{data.theloai}}</p>
    <p class="new_desc">{{data.sumary}}</p>
    <p class="new_cont">{{data.content}}</p>
    <button class="btn-prev" href ="/"><a class="link_pre" href ="/">HomePage</a></button>

</div>

</body>
</html>